<!-- <section>

  <article>
    <h3>Interpolation</h3>
    <p>String rendered through interpolation: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1+1 }} </p>
    <p>Resultado de 1 + 1 não é: {{1+1 + getValor()}} </p>
    <p>Angular course and angular like {{angularCourse && getLikeCourse()}} </p>
    <p></p>
  </article>

  <article>
    <h3>Property binding</h3>
    <img src="{{ imageUrl}}">
    <img [src]="imageUrl">
  </article>

  <article>
    <h3>Class e Style binding</h3>
    <div>
      Selecione uma classe:
      <select #class (change)="0">
        <option value = "alert-success">Success</option>
        <option value = "alert-info">Info</option>
        <option value = "alert-warning">Warning</option>
        <option value = "alert-danger">Danger</option>
      </select>
      <br><br>

      <div class = "alert {{ class.value }} " role = "alert">
        Text colored according to selected option
      </div>

      <div
        class = "alert"
        role = "alert"
        [class.alert-success] = "class.value == 'alert-success'">
        Success
      </div>
      <div
        class = "alert"
        role = "alert"
        [class.alert-info] = "class.value == 'alert-info'">
        Info
      </div>
      <div
        class = "alert"
        role = "alert"
        [class.alert-warning] = "class.value == 'alert-warning'">
        Warning
      </div>
      <div
        class = "alert"
        role = "alert"
        [class.alert-danger] = "class.value == 'alert-danger'">
        Danger
      </div>

      <div
        class = "alert"
        role = "alert"
        [style.display] = "class.value == 'alert-danger' ? 'block' : 'none'">
        This text only show up on danger
      </div>
    </div>
  </article>

</section> -->
<!-- <section class = "event-binding">

  <article>
    <h3>Event binding</h3>
    <div>
      <button
        (click) = "clickedButton()"
        class = "btn btn-primary">
        Click me!
      </button>

      <br><br>

      <input type="text"
        (keyup) = "onKeyUp($event)"
        (keyup.enter) = "saveValue(fieldInput.value)"
        (blur) = "saveValue(fieldInput.value)"
        #fieldInput>

      <p>Current value: {{ currentValue }} </p>
      <p>Current value: {{ savedValue }} </p>

      <br><br>

      <span
        (mouseover) = "onMouseOverOut()"
        (mouseout) = "onMouseOverOut()"
        [class.highlight] = "isMouseOver">
        Hover your mouse here
      </span>

    </div>
  </article>

</section> -->
<!-- <section>


  <article>

      <h3>Two-way data binding</h3>

      <div>

        <input type="text"
          [value] = "name"
          (input) = "name = inputName.value"
          #inputName>

        <input type="text"
          [ngModel] = "name"
          (ngModelChange) = "name = $any($event)">

        <input type="text" [(ngModel)] = "name"> -->
        <!-- Banana in a box -->

        <!--<p>Você digitou: {{ name }} </p>

      </div>

      <div>

        <p>Meu nome é {{ person.name }} e eu tenho {{person.age}} anos de idade </p>

        <input type="text" [(ngModel)] = "person.name">
        <input type="text" [(ngModel)] = "person.age">

      </div>

  </article>

</section> -->

<section>
  <article>
    <h3>Input/Output properties</h3>

    <app-course [name]="courseName"></app-course>

  </article>
</section>
